<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikescamell.motionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.mikescamell.motionlayout.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part2" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part1" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part3" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part4" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part5" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part6" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene1Part7" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part1" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part2" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part3" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part4" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part5" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part6" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.Scene2Part7" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.CombinedScenePart1" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.CombinedScenePart2" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.CombinedScenePart3" />
        <activity android:name="com.mikescamell.motionlayout.loco_motionlayout.CombinedSceneLol" />
        <activity android:name="com.mikescamell.motionlayout.MikezoActivity" />
        <activity android:name="com.mikescamell.motionlayout.quickies.MotionQuickieOnTouchUp" />
        <activity android:name="com.mikescamell.motionlayout.quickies.MotionQuickieSubelements" />
        <activity android:name=".quickies.MotionLayoutQuickiesActivity" />
        <activity android:name=".loco_motionlayout.LocoMotionLayoutActivity" />
    </application>

</manifest>