<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikescamell.locomotionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scene1Part2" />
        <activity android:name=".Scene1Part1" />
        <activity android:name=".Scene1Part3" />
        <activity android:name=".Scene1Part4" />
        <activity android:name=".Scene1Part5" />
        <activity android:name=".Scene1Part6" />
        <activity android:name=".Scene1Part7" />
        <activity android:name=".Scene2Part1" />
        <activity android:name=".Scene2Part2" />
        <activity android:name=".Scene2Part3" />
        <activity android:name=".Scene2Part4" />
        <activity android:name=".Scene2Part5" />
        <activity android:name=".Scene2Part6" />
        <activity android:name=".Scene2Part7" />
        <activity android:name=".CombinedScenePart1" />
        <activity android:name=".CombinedScenePart2" />
        <activity android:name=".CombinedScenePart3" />
        <activity android:name=".CombinedSceneLol" />
    </application>

</manifest>